.search-bar {
    width: 100%;
    position: fixed;
    background: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;

    .cursor {
        cursor: pointer;
    }

    i {
        margin: 0 10px;
    }

    .img-container{
        height: 32px;
        border-left: 1px solid black;
        padding-left: 10px;
        margin-left: 5px;

        img {
            height: 32px;
            width: auto;
            
        }
    }

    form {
        flex-grow: 1;

        input {
            height: 28px;
            width: 218px;
            text-align: center;
            background: #F8F8F8;
            border: 1px solid #DDDDDD;
            border-radius: 5px;
            box-shadow: none;
        }
    }

    .logout {
        position: fixed;
        background: white;
        color: lightblue;
        display: none;
        &:hover {
            color: #4664F5;
        }
    }
    .logout.visible {
        display: block;
    }

}