// .full-post {
//     margin: 0 auto 60px;
//     width: 614px;
//     border: 1px solid #DDDDDD;
//     border-radius: 5px;
//     background: #FFFFFF;


//     header {
//         display: flex;
//         align-items: center;
        
//         .user-thumbnail {
//             width: 32px;
//             height: 32px;
//             border-radius: 50%;
//             margin: 0 10px;
//         }

//         h3 {
//             font-size: 1rem;
//         }
//     }

//     .img-container {
//         width: 100%;
//         height: auto;

//         img {
//             width: 100%;
//         }
//     }

//     .img-footer {
//         display: flex;
//         flex-wrap: wrap;
//         padding: 10px 15px 5px;

        .post {
            cursor: pointer;
            margin-right: 20px;
            color: gray;
        }

        .fas {
            color: red;
        }

//         .likes {
//             width: 100%;
//             margin: 0;
//             margin-top: 5px;
//             text-align: left;
//             font-weight: bold;
//         }
//     }
// }